<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>name: {{event.name}}</h1>
    <h1>content: {{event.date}}</h1>
    <script>
        const new_event = JSON.parse('{{event|tojson}}' )
        console.log('Event:', new_event);

        document.addEventListener('DOMContentLoaded', () => {
            console.log('Event loaded:', new_event.name);
        });
    </script>
  </body>
</html>